body {
    height: 100vh;
    margin: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(45deg, #2F4F4F 0%, #7F9C9F 10%, #2F4F4F 20%, #7F9C9F 30%, #2F4F4F 40%, #7F9C9F 50%, #2F4F4F 60%, #7F9C9F 70%, #2F4F4F 80%, #7F9C9F 90%, #2F4F4F 100%);
    animation: Gradient 15s ease infinite;
    font-family: 'Comic Sans MS', cursive;
    color: #fff;
}

@keyframes Gradient {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}




h1 {
    text-align: center;
    padding: 20px;
    font-size: 3em;
    text-shadow: 3px 3px #FF0000;
    filter: drop-shadow(5px 5px 5px #0000FF);
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: marquee 10s linear infinite;  
}

button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #FFD700;
    animation: colorChange 2s infinite;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

.joke-container {
    border: 2px solid #FFD700;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(0, 128, 128, 0.7);
    filter: drop-shadow(5px 5px 5px #0000FF);
}

.marquee-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 20px auto;
}

@keyframes rainbow {
  0% {color: red;}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: green;}
  57% {color: blue;}
  71% {color: indigo;}
  85% {color: violet;}
  100% {color: red;}
}

@keyframes colorChange {
  0% {background: red;}
  14% {background: orange;}
  28% {background: yellow;}
  42% {background: green;}
  57% {background: blue;}
  71% {background: indigo;}
  85% {background: violet;}
  100% {background: red;}
}
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

@keyframes bounce {
    0% { transform: translate(0, 0); }
    25% { transform: translate(300px, 0); }
    50% { transform: translate(300px, 200px); }
    75% { transform: translate(0, 200px); }
    100% { transform: translate(0, 0); }
}
